@media screen and (min-width: 1024px) {
  /* Responsive untuk desktop */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Responsive untuk tablet */
  .navbar-brand {
    font-size: 1.3em;
  }

  .right-heading-contents > #foto-profil {
    width: 300px;
  }

  .projects-heading > h1 {
    font-size: 1.7em;
  }

  .left-item > img {
    width: 300px;
  }

  .right-item > h4 {
    font-size: 1.3em;
  }

  .right-item > p,
  .project-languages > p {
    font-size: 0.8em;
  }

  .language > img {
    width: 30px;
  }

  .experience-heading > h1 {
    font-size: 1.7em;
  }

  .item-exp {
    font-size: 0.9em;
  }

  .dot {
    width: 25px;
    height: 25px;
  }

  .garis-dot {
    left: 23px;
  }

  footer > h2 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 767px) {
  /* Responsive untuk mobile */

  .navbar > .container {
    align-items: flex-start;
    flex-direction: column;
  }

  .heading {
    flex-direction: column;
    margin-top: 50px;
  }

  .right-heading-contents {
    display: flex;
    justify-content: center;
  }

  .right-heading-contents > img {
    width: 300px;
  }

  .left-heading-contents {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }

  .items {
    grid-template-rows: 80px 30px 0.4fr;
  }

  .items > .skills-photo {
    width: 80px;
  }

  .projects-heading {
    justify-content: center;
    align-items: center;
    border-top: 2px solid #ffd523;
    border-bottom: 2px solid #ffd523;
  }

  .projects-heading > h1 {
    font-size: 1.5em;
    margin: 10px 0;
  }

  .line-projects {
    display: none;
  }

  .project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project .left-item {
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .left-item > img {
    width: 300px;
  }

  .project .right-item > p {
    font-size: 0.8em;
  }

  .project-languages img {
    width: 20px;
    margin-right: 5px;
  }

  .experience-heading {
    justify-content: center;
    align-items: center;
    border-top: 2px solid #ffd523;
    border-bottom: 2px solid #ffd523;
  }

  .line-experience {
    display: none;
  }

  .experience-heading > h1 {
    font-size: 1.3em;
    margin: 10px 0;
  }

  .item-exp {
    font-size: 0.8em;
  }

  .dot {
    width: 23px;
    height: 23px;
    margin-right: 0px;
    padding-right: 10px;
  }

  .garis-dot {
    left: 22px;
  }

  footer > h2 {
    font-size: 1em;
  }

  .social-item > .whatsapp {
    width: 15px;
    height: 15px;
  }

  .social-item > .linkedin {
    width: 15px;
    height: 15px;
  }

  .social-item > .email {
    width: 15px;
    height: 10px;
  }

  .social-item > .instagram {
    width: 15px;
    height: 15px;
  }

  .social-item > .github {
    width: 15px;
    height: 15px;
  }

  .social-item {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }

  footer > p {
    font-size: 0.7em;
  }

  .raise-up-btn {
    width: 40px;
    height: 40px;
  }

  .raise-up-btn > .triangle {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid black;
  }
}
